CompileFlags:
  Add:
    - -std=c++17
    - -ID:/myGithub/glDemo/src/main
    - -ID:/myGithub/glDemo/src/renderer
    - -ID:/myGithub/glDemo/src/camera
    - -ID:/myGithub/glDemo/src/read
    - -ID:/myGithub/glDemo/src/image
    - -ID:/myGithub/glDemo/src/shader
    - -ID:/myGithub/glDemo/third_party/stb
    - -ID:/cmd/vcpkg/installed/x64-windows/include
