################################################################################
# Visual Studio and CMake temporary files
################################################################################

# macOS
.DS_Store

# Editor directories
.vscode/
.idea/

# Temporary files
*.tmp
*.log

*.suo
*.user
*.userosscache
*.sln.docstates
*.vcxproj.user
*.rsuser
.vs/
.clangd

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Bb]uild/
[Bb]in/
[Oo]bj/
[Oo]ut/
[Ll]og/
[Ll]ogs/
