################################################################################
# Visual Studio and CMake temporary files
################################################################################

*.suo
*.user
*.userosscache
*.sln.docstates
*.vcxproj.user
*.rsuser
.vs/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Bb]uild/
[Bb]in/
[Oo]bj/
[Oo]ut/
[Ll]og/
[Ll]ogs/
